<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Task manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
</head>
<body>
<div id = "application">
    <input type = "text" class = "workflow_header" value = "Исправления и рефакторинг"> 
    </input>
    <div class = "workflow">
        <div class = "stage">
            <input type = "text" class="tasks_header" value = "Сделать"> 
            </input>
            <div class = "tasks">
                <div class = "add_task_button">
                    + добавить задачу
                </div>
                <div class = "task">
                    тут я описываю очень важную задачу по исправлению интерфейса приложения,
                    просто невероятно важная задача, не могу
                    тут я описываю очень важную задачу по исправлению интерфейса приложения,
                    просто невероятно важная задача, не могу
                </div>
                <div class = "task">
                
                </div>
            </div>
        </div>
        <div class = "stage">
            <input type = "text" class="tasks_header" value = "В процессе"> 
            </input>
            <div class = "tasks">
                <div class = "add_task_button">
                    + добавить задачу
                </div>
                <div class = "task">
                
                </div>
                <div class = "task">
                
                </div>
            </div>
        </div>
        <div class = "add_stage_button">
            + добавить стадию
        </div>
        
    </div>
</div>
</body>
</html>